html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 8%;
	padding-right: 8%;
	position:fixed;
	z-index: 1000;
	background-color: black;
	opacity: .8;
	width:100vw;
	
}
.blueback{
		/* The image used */
		background-color: black;
		opacity:.7;
		z-index:0;
		width:100%;
		height:100%;
	  
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #ff8906;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #ff8906;
	transition: .4s;
}
.btn{
	background-color:#ff8906;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #fffefe;
	color:black;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: black;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: black;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#ff8906;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #ff8906;
	cursor: pointer;
	color:black;
}

.service{
	background: #271c19;
	width: 100%;
	padding: 100px 0px;

}
.title h2{
	color: #fff3ec;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-wrap: wrap;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #55423d;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	/* color:#55423d; */
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #ff8906;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#ff8906;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 10px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #ff8906;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #fffefe;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#ff8906;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #ff8906;
	cursor: pointer;
	color:black;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #271c19;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	/* width: 45px; */
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background:  #fff3ec; */
	/* border-radius: 50%; */
	margin: 22px 10px;
	color: #ff8906;
	text-decoration: none;
	font-size: 20px;
}

.end{
	position: absolute;
	color:#ff8906;
	bottom: 35px;
	font-size: 14px; 
}